/*
 Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
  padding: 8rem 0 7rem;
  text-align: center;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  section {
    padding: 7rem 0 11rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  section {
    padding: 7rem 0 15rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  section {
    padding: 7rem 0 19rem;
  }
}

/*
 Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.right-aligned {
  text-align: right;
}

.left-aligned {
  text-align: left;
}

.center-aligned {
  text-align: center;
}

.container-wide {
  max-width: 1280px;
}

/*Custom Margin, Padding*/
.marginnone{margin:0;}
.margintop10{margin-top:10px;}
.margintop20{margin-top:20px;}
.margintop40{margin-top:40px;}
.marginbottom10{margin-bottom:10px;}
.marginbottom20{margin-bottom:20px;}
.marginbottom40{margin-bottom:40px;}
.marginbottom80{margin-bottom:80px;}
.paddingnone{padding:0;}
.paddingtopnone{ padding-top:0;}
.paddingtop10{padding-top:10px;}
.paddingtop20{padding-top:20px;}
.paddingtop40{padding-top:40px;}
.paddingbottom10{padding-bottom:10px;}
.paddingbottom20{padding-bottom:20px;}
.paddingbottom40{padding-bottom:40px;}
