/* section_hero_1  Start of CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.r1-why li {
  font-size: 2rem;
  font-weight:200;
  list-style-type: none;
  margin-top: 50px;
  margin-bottom: 50px;
}
.r1-explanation {
  margin-top: 100px;
}
.r1-demonstration {
}
.r1-demonstration img {
}
.r1-heading {
  font-family: "Lato";
  font-weight: 150;
  font-size: 3rem;
}

/* Bigger than 1330px */
@media (min-width: 1330px) {
  .r1 input[type="email"] {
    width: 300px;
  }
  .r1 input[type="submit"] {
    width: 300px;
  }
}
/* Lower than 1330px */
@media (max-width: 1330px) {
  .r1 input[type="email"] {
    width: 230px;
  }
  .r1 input[type="submit"] {
    width: 230px;
  }
}

/* Lower than 1100px */
@media (max-width: 1100px) {
  .r1 input[type="email"] {
    width: 300px;
  }
  .r1 input[type="submit"] {
    width: 300px;
  }
}


/* else */
.r1 .five.columns {
width: 100%;
margin-left: 0px;
}
.r1-demonstration {
  text-align: center;
}
.r1 .seven.columns {
  width: 100%;
  margin-left: 0px;
}
.r1-explanation {
  text-align: center;
}

/* Bigger than 1100 */
@media (min-width: 1100px) {
  .r1 .five.columns {
      width: 39.3%;
  }
  .r1-demonstration {
    text-align: right;
  }
  .r1 .seven.columns {
      width: 56.6%;
  }
  .r1-explanation {
    text-align: left;
  }
}

/* section_hero_1  End of CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */




/* section_feature_1  Start of CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.f1 ul, li{ list-style:none;}
.f1 a, input, select, textarea, .btn {transition: all 0.25s ease-in 0s; -webkit-transition: all 0.25s ease-in 0s; -moz-transition: all 0.25s ease-in 0s; -o-transition: all 0.25s ease-in 0s; outline:none;}
.f1 a{ color:#1f1d22;}
.f1 a:hover{ outline:none; cursor:pointer; color:#2253e0; text-decoration:none;}
.f1 a:focus {outline:none; text-decoration:none}
.f1 .full-width{float:left; width:100%;}
.f1 .relative{position:relative}
.f1 .center{ text-align:center;}

.f1 .feature_block{ width:100%; padding:60px 0;}
.f1 .feature-items{ position:relative;}
.f1 .feature-items .disc{ width:60px; height:60px; line-height:60px; border-radius:100%; background:#33c3f0; color:#fff; font-size:30px; text-align:center; position:absolute; top:0; left:0;}
.f1 .feature-items .content{ padding-left:80px;}
.f1 .feature-items .content h3{ margin-bottom:20px; font-size:22px; color:#222;}


/* section_feature_1  End of CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* section_values_1 Start of CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.v1 {
  background-size: cover;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.v1-multiplier {
  margin-bottom: .5rem;
  color: #33c3f0;
}
.v1-heading {
  margin-bottom: .3rem;
}
.v1-description {
  opacity: .8;
  font-weight: 300;
}
/* section_values_1 End of CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

