/* section_hero_1  Start of CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
ul.why {
  margin-top: 60px;
  margin-bottom: 60px;
}
.why li {
  font-size: 2rem;
  font-weight:200;
  list-style-type: none;
}
/* Bigger than 550 */
@media (min-width: 550px) {
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
}
/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
/*  .hero {
    padding: 16rem 0 14rem;
  }*/
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
}
/* Bigger than 1000 */
@media (min-width: 1000px) {
/*  .hero {
    padding: 9rem 0;
  }
*/  .phone {
    top: -1rem;
    right: -1.8rem;
    /*max-height: 615px;*/
  }
}
/* section_hero_1  End of CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
