 /* Start of CSS testimonial
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .testimonial {text-align: left;}

    .t-text {
        padding: 12px 20px;
        background-color: #fff;
        border: 1px solid #D1D1D1;
        text-align: left;
        border-radius: 20px;
        margin-bottom: 2.0rem;
        position: relative;
        min-height: 85px;

    }

    .t-text:after,  .t-text:before {
      top: 100%;
      left: 40px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .t-text:after {
      border-color: transparent;
      border-top-color: #ffffff;
      border-width: 15px;
      margin-left: -15px;
    }

    .t-text:before {

      border-color: transparent;
      border-top-color: #d1d1d1;
      border-width: 16px;
      margin-left: -16px;
    }

    .t-author {
      font-size: 1.2rem;
      margin-bottom: 50px;
    }

    .t-author img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid #D1D1D1;
    }

    .t-name {
      padding-top: 15px;
      font-weight: 700;
    }
    .t-name, .t-company {
      margin-left: 90px;
    }

  q { quotes: "\201C""\201D""\2018""\2019"; }

  q:before { content: open-quote;font-family: 'sans serif'; }

  q:after  { content: close-quote;font-family: 'sans serif'; }


/* testimonial End of CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
